@import "./assets/scss/variables.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  // line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: $bgColor;
  color: $fontColor;
}
html {
  scrollbar-color: #888 #f0f0f0;
  scrollbar-width: thin;
}
