$textFontSize: 13px;
$bgColor: #fefdf8;
$navBarColor: #fbf3de;
$buttonActiveColor: #f4c655;
$linkHoverColor: #fff9ef;
$buttonColor: #35a050;
$userProfileNavMenu: #fbf3de;
$cardColor: #fbf3de;
$userProfileNavMenuFontColor: #404972;
$fontColor: #2c3e50;
$borderColor: #f3f1eb;
$sideNavbarButton: #fefdf8;
$hoverButtonColor: #35a050;
