// $bgColor: #1d2222;
// $fontColor: #2ca4ab;
// $borderColor: #343a40;
// $buttonColor: #2ca4ab;
// $hoverButtonColor: #76a4a6;

$bgColor: #1f2125; // Lighter Gray
$navBarColor: #343a40;

$userProfileNavMenu: #343a40; // Danger Red
$cardColor: #343a40; // Danger Red
$userProfileNavMenuFontColor: #e7e9ea; // Danger Red
$fontColor: #e7e9ea; // Dark Gray
$textFontSize: 13px;
$borderColor: #c8ced3; // Gray

$sideNavbarButton: #1f2125;

$buttonActiveColor: #343a40; // Darker Yellow (same as hover)
$linkHoverColor: #343a40; // Success Green

$buttonColor: #1f2125; // Warning Yellow
$hoverButtonColor: #343a40; // Darker Yellow
