$textFontSize: 13px;
$bgColor: #fff;
$navBarColor: #fff;
$buttonActiveColor: #838EE8;
$linkHoverColor: #fff9ef;
$buttonColor: #838EE8;
$userProfileNavMenu: #fff;
$cardColor: #fff;
$userProfileNavMenuFontColor: #404972;
$fontColor: #2c3e50;
$borderColor: #f3f1eb;
$sideNavbarButton: #fefdf8;
$hoverButtonColor: #838EE8;