@import "../../../../assets/scss/variables.scss";

body {
  padding: 0px !important;
  margin: 0px !important;
}
.container {
  height: 100vh;
  color: #000;

  .main_box {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px !important;
    border-radius: 15px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .reg_head {
      text-align: center;
    }
    form {
      border: 3px solid $borderColor;
      padding: 10px !important;
      hr {
        margin: 10px !important;
      }
      .error {
        color: red;
      }

      input[type="email"],
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 12px 20px !important;
        margin: 8px 0 !important;
        display: inline-block;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        background-color: #fff !important;
        color: #000;
      }
      .file {
        display: flex;
        align-items: center;
        cursor: pointer;
        .avatar {
          width: 80px !important;
          border-radius: 20px !important;
          margin: 5px;
        }
      }

      .form_btn {
        margin: 18px 0 !important;
        padding: 10px 15px !important;
        font-weight: bold;
        font-size: 1rem;
        background-color: $buttonColor;
        color: #fff;
        border-radius: 8px !important;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: $hoverButtonColor;
        }
      }
    }
  }
}

@media only screen and (max-width: 815px) {
  .main_box {
    width: 80%;
  }
  .avatar {
    width: 30% !important;
  }
}
