.main_container {
  width: 87%;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  margin-left: auto;

  .container {
    padding: 20px;

    .table_box {
      overflow-x: auto;
      padding: 40px;
      .table {
        font-size: 13px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #a9a7a7;
        th,
        td {
          text-align: left;
          padding: 8px;
        }
        tr {
          border: solid 1px #fff;
          .image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        tr:nth-child(even) {
          background-color: #f2f2f2;
          color: #000;
        }
      }
    }
  }
}
