@import "../../../../../assets/scss/variables.scss";

.books_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-items: stretch;
  gap: 10px;

  .books {
    border: solid 1px #686767;
    width: 182px;
    min-width: 182px;
    border-radius: 5px;
    background-color: $cardColor;

    .books_elements {
      // margin: 13px;
      margin-top: 7px;
      margin-bottom: 0px;

      .book_image {
        width: 100% !important;
        text-align: center;
        border-radius: 5px;

        img {
          width: 135px;
          height: 150px;
          border-radius: 5px;
          box-shadow: 0px 0px 2px 1px #787b7c;

          // filter: grayscale(100%) !important;
        }
      }

      .book_title {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 2px;
        justify-content: space-between;
        color: $fontColor !important;

        .title {
          font-size: 13px;
          padding: 4px;
          margin: 0px;
        }
        .author {
          font-size: 12px;
          padding: 4px;
          margin: 0px;
        }
        .star {
          font-size: 12px;
          padding: 4px;
          margin: 0px;
          color: $fontColor !important;
        }
        .read {
          font-size: 12px;
          padding: 4px;
          margin: 0px;
          color: $fontColor !important;
        }
        .content {
          font-size: 12px;
          padding: 4px;
          margin: 0px;
          color: $fontColor !important;
        }
      }
    }
  }
}

.item_footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  .count_like {
    border: solid 1px;
    padding: 5px;
    position: absolute;
    color: #686767;
    right: 6px;
    bottom: 6px;
    border-radius: 30px;
    .like {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
