@import "../../../assets/scss/variables.scss";

.navbar_head {
  background-color: $bgColor;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.body_container {
  width: 90%;
  margin: auto !important;
}
.nav_elements {
  /* text-align: right !important; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_elements a {
  text-decoration: none !important;
  color: $fontColor;
  list-style: none;
  display: contents;
}
.user_tab_navbar {
  display: inline-block;
  opacity: 1;
  background-color: $userProfileNavMenu;
}

.user_tab_navbar_element_box {
  display: inline-block;
  opacity: 1;
  background-color: $userProfileNavMenu;
}

.user_photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.user_tab_navbar {
  position: relative;
}
.user_tab_navbar_element_box {
  position: absolute;
  width: 125px;
  right: -3px;
  border: solid 1px $borderColor;
  display: none;
}
.user_tab_navbar_element {
  font-size: 0.8rem !important;
  text-align: left;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
p {
  font-size: 10px;
  padding: 6px;
}

.user_tab_navbar_element span {
  padding: 10px;
  cursor: pointer;
  width: 100%;
}
.user_tab_navbar_element span:hover {
  background-color: $bgColor;
}
