@import "../../../assets/scss/variables.scss";

.menu {
  display: none;
}
.body_container {
  width: 90%;
  margin: auto !important;
  padding: 0px;
  font-size: $textFontSize;

  .navbar {
    .flex_box {
      .flex {
        display: flex;
        justify-content: center;

        .nav_elements {
          text-align: right;
          list-style: none;

          a {
            text-decoration: none !important;
            color: $fontColor;
            font-size: 15px;
            padding: 8px 8px 8px 8px;
            margin: 2px;
            font-weight: 500;
            border-radius: 5px;

            &:hover {
              background-color: $linkHoverColor;
              color: $fontColor;
            }
          }
        }
      }
    }
  }
}
.break_line {
  margin: 0px;
  opacity: 0.3 !important;
  position: relative;
  z-index: -1 !important;
  color: $userProfileNavMenu;
}

// .active {
//   background-color: $buttonActiveColor;
//   color: $fontColor;
// }

@media only screen and (max-width: 767px) {
  .menu {
    padding: 20px;
    padding-bottom: 5px !important;
    cursor: pointer;
    font-size: 25px;
    display: block;
  }
  .body_container {
    width: 100% !important;
    display: none;
    padding: 0px !important;
    .flex_box {
      text-align: left;
      width: 100%;

      ul {
        padding: 0px;
        .flex {
          display: block;

          .nav_elements {
            text-align: left;
            border-bottom: solid 1px #343a40;
            a {
              display: block;
              width: 100%;
              padding: 9px;
              margin: 0px !important;
              border-radius: 0px !important;
            }
          }
        }
      }
    }
  }
}
