@import "../../../assets/scss/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 1.5rem 2rem;
  border-bottom: 1px solid #eaeaea;
  width: 100%;

}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 0.87rem;
}

.logoIcon {
  color: #838EE8;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.navbar_head {
  display: flex;
  // background-color: #838EE8;
  // color: #fff;
  // padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(221, 219, 219, 0.1);
  min-height: 60px;

  .body_container {
    width: 90%;
    margin: auto !important;

    .nav_elements {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        text-decoration: none !important;
        color: $userProfileNavMenuFontColor;
        list-style: none;
        display: contents;
      }

      .user_tab_navbar {
        position: relative;
        display: inline-block;
        opacity: 1;
        background-color: $userProfileNavMenu;
        color: $userProfileNavMenuFontColor;
        z-index: 1;

        .user_photo {
          margin: 5px;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          cursor: pointer;
        }

        .user_tab_navbar_element_box {
          display: inline-block;
          opacity: 1;
          background-color: $userProfileNavMenu;
          // padding: 10px !important;
          position: absolute;
          width: 171px;
          right: -3px;
          border: solid 1px $borderColor;
          display: none;

          .user_tab_navbar_element {
            font-size: 0.8rem !important;
            text-align: left;
            box-shadow: 0px 1px 4px rgba(231, 228, 228, 0.1);
            display: flex;
            align-items: center;

            span {
              padding: 12px 15px !important;
              cursor: pointer;
              width: 100%;

              &:hover {
                background-color: $bgColor;
              }
            }
          }
        }
      }

      .login_section {
        a {
          span {
            font-size: 25px !important;
          }
        }
      }
    }
  }
}